body {
  background-image: url(IMG/BACKGROUND.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  border-radius: 40px;
  height: 800px;
  margin: 50px;
  box-shadow: 15px 10px 5px #00000075;
  border-color: #0dcaf034 ;
  border-style: dashed;
  background-color: rgba(241, 241, 241, 0.551)
}

#MainICON {
  width: 500px;
  right: 50px;
  position: relative;
}

.STATS * {
  margin-bottom: 40px;
  white-space: nowrap
}

.STATS  h3{
  font-size: 30px;
}

.STATS h1{
  font-size: 45px;
}

.RIGHTSIDE {
  float: right;
  position: relative;
}

.card {
  transition: background-color 1s;
}

.card img{
  float:left;
}

.card-body {
  padding-left: 0px;
}

.card:hover {
  background-color: #0dcaf042;
}

.location_entry label{
  font-size: 20px;
}

.CORF {
  border-radius: 50px;
  margin: 0px 0px 20px 20px;
  position: relative;
  bottom:24px;
  background-color: #0dcaf042;
  font-size: 24px;
  padding: 20px 30px;
  transition: background-color 1s;
  width: 80px;
  height: 80px;
}

.CORF:hover {
  background-color: rgba(255, 255, 255, 0.524);
}

.CORF:active {
  background-color: #0dcaf074;
  transition: 0s;
}

.REFRESH {
  padding: 20px;
  border-radius: 40px;
  position: relative;
  bottom: 30px;
  right: 30px;
  background-color: #0dcaf042;
  transition: background-color 1s;
}

.REFRESH:hover {
  background-color: rgba(255, 0, 0, 0.416);
}

.FUTURE {
  position: relative;
  right:30px;
  width: 300px;

}

.card {
  padding-right: 30px;
  text-align: right;
}

.card-text {
  font-size: 13px;
}

.STATS *:hover{
  transform: scale(1.04)
}

.BOTTOMSEC {
  position: relative;
  bottom: 80px;
}

#LOC {
  font-size:29px;
}

.STATS h2{
  text-align: center;
}

.forecastBtn {
  background: transparent;
  border: none;
  outline: none;
}

.forecastBtn:hover{
  cursor: pointer;  
}

.WeatherPopup {
  background-color:#026275;
  border-radius: 20px;
  transform: scale(.2);
  transition: transform 1s, right .1s;
  position: absolute;
  visibility: hidden;
  outline: solid #002e40;
  right: 0;
} 

.openWeatherPopup {
  right: 33.5%;
  padding: 30px 30px 30px 30px;
  visibility: visible;
  transform: scale(1);
  height: 600px;
  top: auto;
}